// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/clock/rockchip,rk808.h>
#include "rk3288.dtsi"

/ {
	compatible = "rockchip,rk3288-evb-rk808", "rockchip,rk3288";
	model = "Onyx RK3288 Product avb";

	chosen {
		stdout-path = "serial2:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	timer: timer@ff6b0000 {
			compatible = "rockchip,rk3288-timer";
			reg = <0x0 0xff6b0000 0x0 0x20>;
			interrupts = <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_TIMER>, <&xin24m>;
			clock-names = "pclk", "timer";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk818 RK808_CLKOUT1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h &chip_enable_h>;
		reset-gpios = <&gpio4 RK_PD4 GPIO_ACTIVE_LOW>, <&gpio7 RK_PB0 GPIO_ACTIVE_LOW>;
	};

	vcc_sys: vsys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd";
		enable-active-high;
		regulator-boot-on;
		gpio = <&gpio7 RK_PA3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_en>;
		vin-supply = <&vcc_sys>;
	};

	eink_panel {
		compatible = "eink,vb3300-ghb";
		status = "okay";
		power-supply = <&vcc_lcd>;
		port {
			panel_in_lvds: endpoint {
				remote-endpoint = <&lvds_out_panel>;
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&btns_pinctrl>;

		power {
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			label = "GPIO Key Power";
			linux,input-type = <1>;
			wakeup-source;
		};
		back {
			gpios = <&gpio7 RK_PB2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACK>;
			label = "GPIO Key Back";
			linux,input-type = <1>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led-blue {
			label = "blue";
			gpios = <&gpio5 RK_PB4 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		led-red {
			label = "battery_charging";
			gpios = <&gpio5 RK_PB5 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
	};

};

/delete-node/ &timer;

&cpus {
	enable-method = "rockchip,psci-smp";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&dmac_bus_s {
	reg = <0x0 0xff600000 0x0 0x4000>;
};

&sdio0 {
	max-frequency = <25000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk &sdio0_int>;
	sd-uhs-sdr104;
	supports-sdio;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	wireless: wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
	};
};

&emmc {
	status = "okay";
	supports-emmc;
	bus-width = <8>;
	cap-mmc-highspeed;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_pwr &emmc_bus8>;
	max-frequency = <100000000>;
	mmc-hs200-1_8v;
	mmc-ddr-1_8v;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_18>; 
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	vdd_cpu: syr827@40 {
		compatible = "silergy,syr827";
		fcs,suspend-voltage-selector = <1>;
		reg = <0x40>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <1350000>;
		regulator-ramp-delay = <1000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
		regulator-state-standby {
			regulator-off-in-suspend;
		};
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk818: pmic@1c {
		compatible = "rockchip,rk818";
		reg = <0x1c>;
		status = "okay";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc6-supply = <&vcc_sys>;
		vcc7-supply = <&vcc_io>;
		vcc8-supply = <&vcc_io>;
		vcc9-supply = <&vcc_io>;
		vddio-supply = <&vccio_pmu>;

		regulators {

			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1250000>;
				regulator-ramp-delay = <6001>;
				regulator-state-standy {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1250000>;
				regulator-ramp-delay = <6001>;

				regulator-state-standby {
					regulator-off-in-suspend;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_ddr";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1200000>;
				};
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1150000>;
				};
			};

			vcc_io: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vcc_io";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcca_codec: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcca_codec";

				regulator-state-standby {
					regulator-off-in-suspend;
				};

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_tp: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_tp";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_10: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd_10";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vcc18_lcd: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc18_lcd";

				regulator-state-standby {
					regulator-off-in-suspend;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_pmu: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vccio_pmu";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd10_lcd: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd10_lcd";

				regulator-state-standby {
					regulator-off-in-suspend;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_18: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_18";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_wl: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_wl";

				regulator-state-standby {
					regulator-suspend-microvolt = <1800000>;
					regulator-on-in-suspend;
				};
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd";

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			OTG_SWITCH {
				regulator-name = "otg_switch";
				regulator-state-standby {
					regulator-off-in-suspend;
				};
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	focaltech@8 {
		compatible = "edt,edt-ft5406";
		reg = <0x8>;
		interrupt-parent = <&gpio8>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio8 3 GPIO_ACTIVE_LOW>;
		wake-gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
	};

	max17135@48 {
		compatible = "maxim,max17135";
		reg = <0x48>;
		pinctrl-names = "default";
		pinctrl-0 = <&max17135_gpios>;
		status = "okay";
		gvee_pwrup = <0>;
		vneg_pwrup = <10>;
		vpos_pwrup = <20>;
		gvdd_pwrup = <25>;
		gvdd_pwrdn = <1>;
		vpos_pwrdn = <3>;
		vneg_pwrdn = <10>;
		gvee_pwrdn = <50>;
		max_wait = <24>;
		gpio_pmic_pwrgood = <&gpio8 RK_PA7 GPIO_ACTIVE_HIGH>;
		gpio_pmic_vcom_ctrl = <&gpio8 RK_PB0 GPIO_ACTIVE_HIGH>;
		gpio_pmic_wakeup = <&gpio8 RK_PA6 GPIO_ACTIVE_HIGH>;
		gpio_pmic_v3p3 = <&gpio5 RK_PC1 GPIO_ACTIVE_LOW>;
		gpio_pmic_intr = <&gpio5 RK_PC0 GPIO_ACTIVE_LOW>;
		regulators {
			DISPLAY_reg: DISPLAY {
				regulator-name = "DISPLAY";
			};
			VCOM_reg: VCOM {
				regulator-name = "VCOM";
				regulator-max-microvolt = <4325000>;
				regulator-min-microvolt = <500000>;
			};
			V3P3_reg: V3P3 {
				regulator-name = "V3P3";
			};
			TMST_reg: TMST {
				regulator-name = "TMST";
			};
     };
   };

   lm3630a@38 {
		compatible = "ti,lm3630a";
		reg = <0x38>;
		enable-gpios = <&gpio5 9 GPIO_ACTIVE_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		led@0 {
			reg = <0>;
			default-brightness = <0>;
		};
		led@1 {
			reg = <1>;
			default-brightness = <0>;
		};
	};
};

&i2c4 {
	status = "okay";
	wacom@9 {
		compatible = "hid-over-i2c";
		reg = <0x9>;
		hid-descr-addr = <0x1>;
		interrupt-parent = <&gpio7>;
		interrupts = <14 IRQ_TYPE_NONE>;
	};
};

&uart2 {
	status = "okay";
};

&io_domains {
	status = "okay";
	wifi-supply = <&vccio_wl>;
	dvp-supply = <&vcc_18>;
};

&usbphy {
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&pwm0 {
	status = "okay";
};

&bus_intmem {
	status = "disabled";
};

&smp_sram {
	status = "disabled";
};

&efuse {
	status = "disabled";
};

&cru {
	compatible = "rockchip,rk3288w-cru";
};

&wdt {
	status = "okay";
};

&crypto {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&isp_mmu {
	status = "okay";
};

&rga {
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};

&lvds {
	pinctrl-names = "lcdc", "sleep";
	pinctrl-1 = <&lcdc_sleep>;	
	avdd1v0-supply = <&vdd10_lcd>;
	avdd1v8-supply = <&vcc18_lcd>;
	avdd3v3-supply = <&vcca_codec>;
	rockchip,output = "rgb";
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		lvds_in: port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			lvds_in_vopb: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&vopb_out_lvds>;
			};
			lvds_in_vopl: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&vopl_out_lvds>;
				status = "disabled";
			};
		};
		lvds_out: port@1 {
			reg = <1>;
			lvds_out_panel: endpoint {
				remote-endpoint = <&panel_in_lvds>;
			};
		};
	};
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&pinctrl {
  pmic {
    pmic_int: pmic-int {
      rockchip,pins = <0 RK_PA4 0 &pcfg_pull_up>;
    };

    vsel1_gpio: vsel1-gpio {
      rockchip,pins = <0 RK_PA0 0 &pcfg_pull_down>;
    };
  };

	lcdc {
		lcdc_ctl: lcdc-ctl {
			rockchip,pins = <1 RK_PD0 1 &pcfg_pull_none_12ma>, 
				<1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>,
				<1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>, 
				<1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		lcdc_sleep: lcdc-sleep {
			rockchip,pins = <1 RK_PD3 0 &pcfg_pull_none>, <1 RK_PD2 0 &pcfg_pull_none>,
				<1 RK_PD1 0 &pcfg_pull_none>, <1 RK_PD0 0 &pcfg_pull_none>;
		};
	};

	lcd {
		lcd_en: lcd-en {
			rockchip,pins = <7 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <4 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		chip_enable_h: chip-enable-h {
			rockchip,pins = <7 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	stylus {
		wacom_int: wacom-int {
			rockchip,pins = <7 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	captp {
		captp_int: captp-int {
			rockchip,pins = <8 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	buttons {
		btns_pinctrl: btns-pinctrl {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
					<7 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	max17135 {
		max17135_gpios: max17135-gpios {
			rockchip,pins = <5 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>,
					<5 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
					<8 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
					<8 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
					<8 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
